@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="mr-auto">Dashboard</h2>
    <p>Bienvenue sur votre panneau.</p>
</div>

@if (SignInManager.IsSignedIn(User))
{
<section class="row">
    <div class="col-6 p-2">
        <form class="card p-2">
            <h5>Uploader un Package IOX</h5>
            <hr class="mt-1 mb-2" />
            <p>Ici vous pouvez envoyer un Package au format IOX vers le routeur CISCO Catalyst.</p>
            <div class="form-group">
                <label for="file">Package IOX</label>
                <input id="file" class="form-control-file" type="file" />
            </div>
            <button class="btn p-1 btn-light" type="submit">Uploader</button>
        </form>
        <div class="card mt-3 p-2">
            <h5>Gestion des Routers</h5>
            <hr class="mt-1 mb-2" />
            <p>Accédez aux routers.</p>
            <div class="form-group">
                <a class="btn btn-light" asp-area="" asp-controller="Router" asp-action="Index">Accueil</a>
            </div>
        </div>
    </div>
    <div class="col-6 p-2">
        <div class="card p-2">
            <h5>Gestion des containers locaux</h5>
            <hr class="mt-1 mb-2" />
            <p>Ici vous pouvez accéder aux containers présent sur votre machine.</p>
            <div class="form-group">
                <label for="file">Liste des containers</label>
                <input type="button" class="btn btn-light w-100" value="Liste" onclick="location.href='@Url.Action("ContainerList")'" />
            </div>
            <div class="form-group">
                <label for="file">Créer un package IOX</label>
                <input type="button" class="btn btn-light w-100" value="Créer" onclick="location.href='@Url.Action("HomeController/PullImage")'" />
            </div>
            <div class="form-group">
                <label for="file">Tester des trucs</label>
                <input type="button" class="btn btn-light w-100" value="Test" onclick="location.href='@Url.ActionLink("ShowApplicationList", "Router")'" />
                <small>(conséquence inconnu, pouvant déformer irrémédiablement le continuum spatio-temporel, à utiliser avec parcimonie.)</small>
            </div>
        </div>
    </div>
    <div class="col-6 p-2">
        <div class="card p-2">
            <h5>Gestion des containers locaux</h5>
            <hr class="mt-1 mb-2" />
            <p>Ici vous pouvez accéder aux containers présent sur votre machine.</p>
            <div class="form-group">
                <label for="file">Liste des containers</label>
                <input type="button" class="btn btn-light w-100" value="Liste" onclick="location.href='@Url.Action("ContainerList")'" />
            </div>
            <div class="form-group">
                <label for="file">Créer un package IOX</label>
                <input type="button" class="btn btn-light w-100" value="Créer" onclick="location.href='@Url.Action("HomeController/PullImage")'" />
            </div>
            <div class="form-group">
                <label for="file">Tester des trucs</label>
                <input type="button" class="btn btn-light w-100" value="Test" onclick="location.href='@Url.ActionLink("ShowApplicationList", "Router")'" />
                <small>(conséquence inconnu, pouvant déformer irrémédiablement le continuum spatio-temporel, à utiliser avec parcimonie.)</small>
            </div>
        </div>
    </div>
</section>
}
else
{
    <h1>You need to be connected</h1>
    <img src="~/images/bg-banner.jpg" class="img" alt="My image" />
}

