@model List<Edge.Models.ApplicationList>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "ApplicationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:100vh;" class="container my-5">
    @if (SignInManager.IsSignedIn(User))
{
    <h1>Applications</h1>

    <p>
        <button class="btn btn-light" disabled>Install New Application</button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    APPID
                </th>
                <th>
                    State
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.ActionLink("Start", "StartApplication", new { appName = item.AppID }) |
                        @Html.ActionLink("Activate", "ActivateApplication", new { appName = item.AppID }) |
                        @Html.ActionLink("Details", "ShowApplicationDetail", new { appName = item.AppID }) |
                        @Html.ActionLink("Stop", "StopApplication", new { appName = item.AppID }) |
                        @Html.ActionLink("Deactivate", "DeactivateApplication", new { appName = item.AppID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card p-2">
        <h5>Logs du routeur</h5>
        <div class="log_display">
            @if (!string.IsNullOrWhiteSpace(ViewBag.Logs))
            {
                var lines = ViewBag.Logs.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries);
                foreach (var line in lines)
                {
                    <p>@line</p>
                }
            }
        </div>
    </div>
}
else
{
    <h1>You must be connected for access to this page.</h1>
}

</div>