@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IList<Docker.DotNet.Models.ContainerListResponse>
@{
    ViewData["Title"] = "ContainerList";
    Layout = "../Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1>Router List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Created</th>
                <th>Name</th>
                <th>Type | Private & Public Port </th>
                <th>Status</th>
                <th>Start/Stop</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Raw(item.Image)
                    </td>
                    <td>
                        @Html.Raw(item.Created)
                    </td>
                    <td>
                        @Html.Raw(item.Names.FirstOrDefault())
                    </td>
                    <td>
                        @foreach (var p in item.Ports)
                        {
                            @Html.Raw(p.Type + " | ")
                            @Html.Raw(p.PrivatePort.ToString() + " | ")
                            @Html.Raw(p.PublicPort.ToString() + " | ")
                        }
                    </td>
                    <td>
                        @Html.Raw(item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Stop | ", "StopContainer", new { containerID = item.ID })
                        @Html.ActionLink("Start ", "StartContainer", new { containerID = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
<h1>You must be connected for access to this page.</h1>
}


